name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
          
      - name: Publish .NET Project
        run: dotnet publish DevJourneyPortfolio/DevJourneyPortfolio.csproj -c Release -o release --nologo
        
      # Copia o index.html para 404.html automaticamente se você não criou manual
      - name: Fix 404 for SPA
        run: cp release/wwwroot/index.html release/wwwroot/404.html
        
      # Garante o .nojekyll
      - name: Add .nojekyll
        run: touch release/wwwroot/.nojekyll

      - name: Create CNAME
        run: echo "devjourney.com.br" > release/wwwroot/CNAME
        
      - name: Deploy to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: release/wwwroot
          
      - name: Deploy
        uses: actions/deploy-pages@v4
